[submodule "res/masterdb"]
	path = res/masterdb
	url = git@github.com:pinisok/gakumas-master-translation.git
[submodule "res/adv"]
	path = res/adv
	url = https://github.com/DreamGallery/Campus-adv-txts
[submodule "output"]
	path = output
	url = git@github.com:pinisok/GakumasTranslationDataKorTest.git
	branch = main
